<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%30.30t] %C{1}.%M(): %m%n%ex</Property>
        <Property name="LOG_PATH">C:/Users/youssef.gamal/Downloads</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!--

            folder structure will be like this
            /Downloads
                file -> today_logs.log
                folder -> 2024-01
                            log.18-Jan-1.log -> 1 represent the first file in 18-Apr Day
                            log.18-Jan-2.log -> 2 represent the second file in 18-Apr Day


        -->
        <RollingFile name="FileLogger"
                     fileName="${LOG_PATH}/today_log.log"
                     filePattern="${LOG_PATH}/%d{YYYY-MM}/log.%d{dd-MMM}-%i.log">

            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- if the file size exceed 19500KB then it will create new file -->
                <TimeBasedTriggeringPolicy interval="1"/> <!-- creates every day a new folder -->
            </Policies>
        </RollingFile>


        <JDBC name="JDBCLogger" tableName="EVENT_LOGS">

            <ConnectionFactory
                    class="org.youssef.gamal.springboot.logging.app.config.JdbcConfig"
                    method="getConnection" />
            <Column name="ID" pattern="%u" /> <!-- unique identifier as UUID -->
            <Column name="DATE_TIME" isEventTimestamp="true" />
            <Column name="CLASS" pattern="%logger" /> <!-- full class name with the package -->
            <Column name="LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%message" />
            <Column name="EXCEPTION" pattern="%ex{full}" isClob="true"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Logger name="org.youssef.gamal.springboot.logging.app" additivity="false">
            <AppenderRef ref="ConsoleLogger" />
            <AppenderRef ref="FileLogger" />
            <AppenderRef ref="JDBCLogger" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleLogger" />
            <AppenderRef ref="FileLogger" />
            <AppenderRef ref="JDBCLogger" />
        </Root>
    </Loggers>
</Configuration>
